@charset "UTF-8";

@media (max-width:1400px) {
    header .Headerin nav{
       
        width:80%;}
        header .Headerin nav .mainMenu {margin-left: 300px;}
    header .Headerin nav .mainMenu li{
        width:100px;
       }
    header .Headerin nav .mainMenu li a{
        font-size: 16px;
    }
    nav .mainMenu li .submenu{
        margin-top: 10px;
    }
    nav .mainMenu li .submenu li{
        
        display: inline-block;
        width:100px;
        height:30px;
        border-radius: 10px;
        margin-bottom: 1px;
    }
    nav .mainMenu li .submenu li a{ 
        width:100px;
        border-radius: 10px;
        height:30px;
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 1px;
        background:rgba(255,255,255,.7);
      
      }
   
    
      .s1 a .bg{
        float:none;
        width:90%;
    height:750px;}
    .s1 .grand {left:0;}
    .grand img{width:80%;}
    .s1 .kid{right:10%;}

    .s1 .kid img{
        width:80%;
    }
    .s1 h2 a{
        left:35%;
    }
    .s1 p {
        top:500px;
        left:40%;
    }
    .s2{overflow: hidden;}
    .s2 .pc_list{
        margin: 100px auto ;
        overflow: hidden;}
    .s2 ul li.lastbtn{
        margin-left:0;
        width:10%;
    }
    .swiper{
        width:90%;
    }
  
    main{
        width:100%;
        text-align: center;
    }
    .s3{
        width:100%;}
    .s3 h3{
        position: absolute; top:0;
        left:50%;
        transform: translate(-50%);
    }
    .coll{width:90%;}
    .swiper-slide .cover {
        position: absolute;
        top: 300px;
        background: black;
        width:410px;
        height: 660px;
        transition: 0.5s;
        box-sizing: border-box;
        opacity: 0;
    }
    .s4 h3{font-size: 30px;}
    .swiper-slide .cover h3{
        font-size: 18px;
    }
    .swiper-slide .cover p{
        font-size: 15px;
    }
  
    .ftW{width:100%;}
    .sns ul li a img{
        width:35px;
        height:35px;}
    .logo{margin-left:20px;} 
}




@media (max-width:1024px){
.main{width:100%;}
header .Headerin h1{
    margin-left: 50px;
}
header .Headerin nav .mainMenu{
    margin-left:0;
    width:100%; 

}
.s1 h2 a {left:25%;}
.s1 p {
    left:30%;
}
.s4 .swiper-slide .cover a img {
    width:60px; 
    height:60px;
}
.s1 .kid{right:20%; }
.s2 ul{
    width:100%;
}
.s2 ul li {
    width:30%;
    height:300px;
    margin-left:10px;;
}
.s2 ul li:nth-child(3){
    margin-left:5px;
}
.s2 ul li.lastbtn{
   display:none;
}
.s3{margin: 100px auto;
    width:100%;
}
.swiper-button-next {
    text-indent: -9999px;
    right:10px;
    z-index: 100;
    top:95%;
    width:25px;
    height:25px;
    color: rgb(13, 102, 129);
    background-color:rgba(0, 0, 0, 0.822);
   
    padding:2px;
}
.swiper-wrapper{position: relative;}
.swiper-button-prev {
    position:absolute;
    text-indent: -9999px;
    padding:2px;
    z-index:200 ;
    width:25px;
    height:25px;
    color: rgb(13, 102, 129);
   
    background-color:rgba(0, 0, 0, 0.822);
    
    left:10px;
    top:95%;
}.swiper-button-prev:after{
    width:10px; 
    height:10px; 
    border:2px solid rgb(255, 255, 255); 
    transform: rotate(45deg);
    border-top: 0;
    border-right: 0;
    margin-left: 8px;
}
.swiper-button-next:after{
    width:10px; 
    height:10px; 
    border:2px solid rgb(255, 255, 255); 
    transform: rotate(-45deg);
    border-top: 0;
    border-left: 0;
    margin-right: 8px;
}
.s4{
    width:1024px;
}.s3 h3{
    font-size: 30px;
}
.swiper-slide .cover{
    width:340px;
}
.swiper-slide .cover h3 {
    left:45%;
    }
.swiper-slide .cover p{
        left:45%;}
.swiper-slide .cover a img{
            left:160px;
}
.s5{
 width:100%;
}
.sns ul li a img{
    width:30px;
    height:30px;}
.ftW{width:100%;}
 .sns ul li {
     margin:0 15px;
 }
 .add p:nth-child(1){
     font-size: 12px;;
 }
 .add p:nth-child(2){
    font-size: 18px;;
}
.add p:nth-child(3){
    font-size: 12px;;
}
} 


@media (max-width:890px){

    .s1 a .bg {float:none;
        width:100%;; 
    }
    header .Headerin nav{
        float:none;
        display: block;
        width:100%;}
        
    .grand img {
        width: 80%;
    }
    header .Headerin nav .mainMenu li{width:96px;}
    header .Headerin nav .mainMenu li a{font-size: 14px;}
    .s1 .kid{right:30%;}
    .s2{display:block;
        width:680px;}
        .s5{  
        }
     .m_menu{
        
         padding:10px; 
         color:azure;
     }
     .s2 ul li .menu{font-size: 16px;}
     .s3{
         margin-top:50px;
    width:890px;}
   
    .s2 ul.pc_list{display:block;}
    .s5{width:100%;}
    .ftW{width:100%;}
    .logo img {
        width:220px;
        object-fit: contain;
    }
}



@media (max-width:698px){
 .mainMenu{display:none;}
 header .Headerin{height:100px;}
 .Headerin nav{position: relative;}
  header .Headerin h1{width:180px; height:80px;
    background-size: 180px 80px;
    margin-top: 30px;
    margin-left: 50px;
    
    }
    main{margin:150px auto 0;
    width:100%;}
    .Headerin h1 a span img{
        margin-top: 0px; 
        margin-left:70px; 
        width:29px;
        height:70px;
    }
 .ham{position: relative;
    position: absolute;
    right:50px;
    top:50px;
    display:block;
    width:25px; 
    height:25px; 
    z-index: 12;
   }
  .btn{display: block;
      width:25px; 
      border-radius: 2px;
      height:2px;
      background:#08486d;
      position:absolute;
      top:20px;
      z-index: 10;
  }
  .btn::before,.btn::after{
    display: block;
    border-radius: 2px;
    position:absolute;
    content: "";
    width:25px; 
    height:2px;
    background:#08486d;
    
    
}
.btn::before{
    top:-10px;
}
.btn::after{
    top:10px;
}
.ham.on{
    top:450px;
}

.ham.on .btn{
    background: transparent;
    transition: 0.3s;
}
.ham.on .btn::before{
    transform: rotate(45deg);
    margin-top: 16px;
    transition: 0.3s;
}
.ham.on .btn::after{
    transform: rotate(-45deg);
    margin-top: -4px;
    transition: 0.3s;
}
.m_menu{
   
    display:none;
    transition: 1s;
    position:absolute;
    top:0;
    width:100%; 
    text-align: left;
    background:#ffffff}
    .m_menu ul{
       padding:20px;
        margin: 5px 0;
      
        ;
    }
    .m_menu ul li{
       
        margin:10px 0;
        
       
        
       
        
    }
    .m_menu ul li a{
        
        color:rgb(7, 7, 7);
    }
    .m_menu ul li a:hover{color:#0d71aa}
    .m_submenu{
      
       margin-top:10px;
      
        
    }
    .m_submenu li{
        display:none;
        float:left;
        position: relative;
       }
       .m_submenu li::before{
           position: absolute;
           top:10px;
           display:block;
           content:"";
           width:1px; 
           height:16px;
           background:rgba(0, 0, 0, 0.349);
       }
    .m_submenu li a{
        display:inline-block;
        padding:5px;
        margin:0 6px;
        font-size:14px;
     }
       .s1 a .bg {
     width:100%; 
     height:100%;
    }
.grand img {
    width:100%;
}
.btnBox{
   height:54px;
   margin:0 auto;
   display:inline-block;
   width:100%;
   text-align:center;
   

   
}
.searchlist{

}
.qustion{
    display:inline-block;
    text-align:center;
    margin:100px auto 0;}
.s1 .kid{
    width:100%;
    right:0%;}
    form{
        position: relative;
        display: inline-block;
        margin: 0 auto;
        border:2px solid rgba(0, 0, 0, 0.712);
        padding:10px 100px 10px 10px;}
      
    .qustion input{
        outline:none;
        padding-right:80px;
        padding-left:30px;
        border:0;
        font-size: 14px;
        
    }
 
    .swiper-slide .cover{
        height:500px;
    } 
       
    
    .qustion_btn{
        position:absolute;
        right:10px;
        background: url("../img/search_icon.png");
        background-repeat: no-repeat;
        width:25px;
        height:25px;
        background-size: 25px 25px;
        border:0;
        text-indent: -9999px;
    }
    .searchlist{margin-top: 5px;;}
    .searchitem{float:left; margin-left:5px;
        padding:5px;;
    background: rgb(0, 9, 17);
  
  }
    .searchitem a{
        font-size: 14px;;
        color:#fff;}
.s1 h2 a{
        top:30%;
        left:10%;
        font-size:40px;;
    }  
.s1 p{ top:45%;
        left:12%;
        font-size:20px;;
    }  
.s2{display:none;}
.s2_1{margin: 200px 0;
    display:block;
    position: relative;}

.m_s2_list{
    display:block;
    text-align:center;
    height:400px;
    width:100%;
  }
  menu{display: block;}
    .m_s2_list ul li{
        position: relative;
        width:50%;
        padding:10px;
        height:250px;
        float:left;
        box-sizing: border-box;
        overflow: hidden;
    }
    .m_s2_list ul li:hover img{
        transform: scale(1.12);
        transition: 1s;
        box-sizing: border-box;
        overflow: hidden;
    }
    .m_s2_list .menu{ 
        padding:5px;
        position: absolute;
        top:0;
        left:0;
        background: #080808;
        display: inline-block;
        font-size: 14px;
        color:#fff;
        width:30%;
        
    } 
    .m_s2_list ul li p{font-size: 14px;
    letter-spacing: -1.5px;}
    .s4{
        display:none;
        
        
    }
    .m_s4{
      margin-top: 100px;;  
      display:block;
      text-align: center;}
      
  .moll .swiper-slide{
      width:500px;
      height:500px;
  }
  .moll .swiper-slide a img{
      object-fit: contain;
      width:500px;
      height:500px;
  }
  .m_s4 h3{margin:50px 0;}
 

    .m_s2_list .lastbtn a{
        position: absolute;
        bottom:100px;
        color:#08486d;
        padding:5px;
        font-size: 14px;;
        border-bottom: 1px solid #02243a;;
    }
.s3{position: relative;;
    width:100%; 
    margin-top:450px;}
    .m_menu{color:#333;}
    .m_s2_list ul li{
        width:100%;
        float:none;
        height:220px;}


    .s5{width:100%;
        
        background: rgb(190, 190, 190);
    }
    .s5 h3{font-size: 25px; 
           color:#000;;}
    .s5 div.newW{width:100%;}
    .s5 a{display:none;}
    .ftW{width:100%;}
    .s5 input{
        border-radius: 10px;
        border-bottom: 1px solid #02243a;
    }
    .s5 button{font-size: 16px;
        border-radius: 10px;
        background:rgba(0, 0, 0, 0.329);}
        .s5 button:hover{
            background:rgba(0, 0, 0);
            color:#fff;
        }
    .logo{
        width:100%;
        float:none;
        text-align: center;
    }
    .mainttl{font-size: 25px;}
    .add{margin-top: 0;
        width:100%;
        float:none;}
    .sns{
        margin-left:10px;
        right:0;
        margin-top:30px; 
        width:100%;
        text-align: center;
        float:none;}
        .sns ul{position:static}
        .sns ul li a img{
            width:25px; 
            height:25px;
        }
        .m_s2_list .lastbtn a{
            left:50%;
            transform: translate(-50%);
        }
    .ftW:after{display:none;}
}
@media (max-width:500px){
    header .Headerin h1{
        margin-left: 20px;
    }.ham{
        right:30px;
    }
    .s1{width:100%;
        height:500px;
    }
    .s1 a .bg {
        width:100%;
        height:450px;}
    .s1 h2 a {
            top: 200px;
            left: 20%;
            font-size: 40px;}
     .s1 p{
         font-size: 20px;
         left: 25%;
         top:320px;
     }
     .grand img {
         margin-left:50px;
        width: 100%;
        right:0;
    }
    .s1 .kid{
        width:100%;
        right:10%;}
        
    .m_s2_list{width:100%;}
    .m_s2_list ul li{
        width:100%;;
        float:none;
        height:150px;}
    .s3{display:none;}
    .m_s3{
        text-align: center;
        display:block;
        width:100%}

    .m_s3 h3{margin: 50px 0;}
    
    
    .s5{width:100%;
        }
    .s5 h3{margin-top:100px;}
    .s5 a{display:block;
        left:50%;
      
    transform: translate(-50%);}
    .s5 div.newW {margin:0;}
    .s5 input{display:none;}
    .s5 button{display:none;}
    .logo{padding-top:100px;}
    .add{display:none;}
    .sns ul{margin-left: 20px;}
    .sns li img{width:30px;
    height:30px;}
}
@media (min-width:260px) and (max-width:499px) {
    header{max-width:100%;
    }
    header .Headerin h1{
        margin-top: 10px;
        margin-left:10px;
        width:180px; height:80px;
        background-size: 180px 80px;
    }
    .Headerin h1 a span img{
        margin-top:15px; 
        margin-left:80px; 
        width:19px;
        height:70px;
    }
    header .Headerin{
        height:80px;
    }
    .ham{
        top:30px;
        right:20%;
    }
    form{padding:5px 60px 5px 5px}
   
  
    .s1{width:100%;;
        height:500px;
    }
    .s1 a .bg {
        width:100%; }
    .s2_1{margin: 100px 0 200px;
            display:block;
            position: relative;}
       
        .m_s3{
            margin-top: 450px;
            text-align: center;
            display:block;
        }
        .swiper-button-next{
            right:0;
        }
        .m_s4{
            text-align: center;
            display: block;
            width:100%;
            height:500px;}
        .moll .swiper-slide a img{
                object-fit: contain;
                max-width:375px;
                height:500px;
            }
            .m_s4 h3{margin:50px 0;}
            .s5{
                width:100%;
            }
            .s5 div.newW {
                width:100%;;
            }
            footer{
                width:100%
            }
            .ftW {
                width:390px;
            }
            .logo{margin-left: -5px;}
            .logo img{
                width:200px; 
                height:100px;
            }
            .qustion input{padding-right: 60px;}
            .searchitem {
                
                margin-left: 2px;
            }
           
}
